<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>cover_pic</key>
		<string>001</string>
		<key>emoticons</key>
		<array>
			<dict>
				<key>image</key>
				<string>001</string>
				<key>desc</key>
				<string>微笑</string>
			</dict>
			<dict>
				<key>image</key>
				<string>002</string>
				<key>desc</key>
				<string>撇嘴</string>
			</dict>
			<dict>
				<key>image</key>
				<string>003</string>
				<key>desc</key>
				<string>色</string>
			</dict>
			<dict>
				<key>image</key>
				<string>004</string>
				<key>desc</key>
				<string>发呆</string>
			</dict>
			<dict>
				<key>image</key>
				<string>005</string>
				<key>desc</key>
				<string>得意</string>
			</dict>
			<dict>
				<key>image</key>
				<string>006</string>
				<key>desc</key>
				<string>流泪</string>
			</dict>
			<dict>
				<key>image</key>
				<string>007</string>
				<key>desc</key>
				<string>害羞</string>
			</dict>
			<dict>
				<key>image</key>
				<string>008</string>
				<key>desc</key>
				<string>闭嘴</string>
			</dict>
			<dict>
				<key>image</key>
				<string>009</string>
				<key>desc</key>
				<string>睡</string>
			</dict>
			<dict>
				<key>image</key>
				<string>010</string>
				<key>desc</key>
				<string>大哭</string>
			</dict>
			<dict>
				<key>image</key>
				<string>011</string>
				<key>desc</key>
				<string>尴尬</string>
			</dict>
			<dict>
				<key>image</key>
				<string>012</string>
				<key>desc</key>
				<string>发怒</string>
			</dict>
			<dict>
				<key>image</key>
				<string>013</string>
				<key>desc</key>
				<string>调皮</string>
			</dict>
			<dict>
				<key>image</key>
				<string>014</string>
				<key>desc</key>
				<string>龇牙</string>
			</dict>
			<dict>
				<key>image</key>
				<string>015</string>
				<key>desc</key>
				<string>惊讶</string>
			</dict>
			<dict>
				<key>image</key>
				<string>016</string>
				<key>desc</key>
				<string>难过</string>
			</dict>
			<dict>
				<key>image</key>
				<string>017</string>
				<key>desc</key>
				<string>酷</string>
			</dict>
			<dict>
				<key>image</key>
				<string>018</string>
				<key>desc</key>
				<string>冷汗</string>
			</dict>
			<dict>
				<key>image</key>
				<string>019</string>
				<key>desc</key>
				<string>抓狂</string>
			</dict>
			<dict>
				<key>image</key>
				<string>020</string>
				<key>desc</key>
				<string>吐</string>
			</dict>
			<dict>
				<key>image</key>
				<string>021</string>
				<key>desc</key>
				<string>偷笑</string>
			</dict>
			<dict>
				<key>image</key>
				<string>022</string>
				<key>desc</key>
				<string>愉快</string>
			</dict>
			<dict>
				<key>image</key>
				<string>023</string>
				<key>desc</key>
				<string>白眼</string>
			</dict>
			<dict>
				<key>image</key>
				<string>024</string>
				<key>desc</key>
				<string>傲慢</string>
			</dict>
			<dict>
				<key>image</key>
				<string>025</string>
				<key>desc</key>
				<string>饥饿</string>
			</dict>
			<dict>
				<key>image</key>
				<string>026</string>
				<key>desc</key>
				<string>困</string>
			</dict>
			<dict>
				<key>image</key>
				<string>027</string>
				<key>desc</key>
				<string>惊恐</string>
			</dict>
			<dict>
				<key>image</key>
				<string>028</string>
				<key>desc</key>
				<string>冷汗</string>
			</dict>
			<dict>
				<key>image</key>
				<string>029</string>
				<key>desc</key>
				<string>憨笑</string>
			</dict>
			<dict>
				<key>image</key>
				<string>030</string>
				<key>desc</key>
				<string>悠闲</string>
			</dict>
			<dict>
				<key>image</key>
				<string>031</string>
				<key>desc</key>
				<string>奋斗</string>
			</dict>
			<dict>
				<key>image</key>
				<string>032</string>
				<key>desc</key>
				<string>咒骂</string>
			</dict>
			<dict>
				<key>image</key>
				<string>033</string>
				<key>desc</key>
				<string>疑问</string>
			</dict>
			<dict>
				<key>image</key>
				<string>034</string>
				<key>desc</key>
				<string>嘘</string>
			</dict>
			<dict>
				<key>image</key>
				<string>035</string>
				<key>desc</key>
				<string>晕</string>
			</dict>
			<dict>
				<key>image</key>
				<string>036</string>
				<key>desc</key>
				<string>疯了</string>
			</dict>
			<dict>
				<key>image</key>
				<string>037</string>
				<key>desc</key>
				<string>衰</string>
			</dict>
			<dict>
				<key>image</key>
				<string>038</string>
				<key>desc</key>
				<string>骷髅</string>
			</dict>
			<dict>
				<key>image</key>
				<string>039</string>
				<key>desc</key>
				<string>敲打</string>
			</dict>
			<dict>
				<key>image</key>
				<string>040</string>
				<key>desc</key>
				<string>再见</string>
			</dict>
			<dict>
				<key>image</key>
				<string>041</string>
				<key>desc</key>
				<string>擦汗</string>
			</dict>
			<dict>
				<key>image</key>
				<string>042</string>
				<key>desc</key>
				<string>抠鼻</string>
			</dict>
			<dict>
				<key>image</key>
				<string>043</string>
				<key>desc</key>
				<string>鼓掌</string>
			</dict>
			<dict>
				<key>image</key>
				<string>044</string>
				<key>desc</key>
				<string>糗大了</string>
			</dict>
			<dict>
				<key>image</key>
				<string>045</string>
				<key>desc</key>
				<string>坏笑</string>
			</dict>
			<dict>
				<key>image</key>
				<string>046</string>
				<key>desc</key>
				<string>左哼哼</string>
			</dict>
			<dict>
				<key>image</key>
				<string>047</string>
				<key>desc</key>
				<string>右哼哼</string>
			</dict>
			<dict>
				<key>image</key>
				<string>048</string>
				<key>desc</key>
				<string>哈欠</string>
			</dict>
			<dict>
				<key>image</key>
				<string>049</string>
				<key>desc</key>
				<string>鄙视</string>
			</dict>
			<dict>
				<key>image</key>
				<string>050</string>
				<key>desc</key>
				<string>委屈</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
